html,
body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P", cursive;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.margin-top-16 {
  margin-top: 16px;
}

.container {
  max-width: 720px;
  padding: 0 16px;
  margin: 0 auto;
}
